

.carousel{
    height: 53rem;
    width: 35rem;
    top: 3rem;
    left:15rem;
}
.carousel-inner{
    border-radius: 5rem;
    box-shadow: 10px 10px 10px grey;
}
.p_index{
    color: #ff9900;
    font-size: 2.8em;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.761);
    width: 34rem;
    height: 35rem;
    border-radius: 3rem;
    padding: 2.5rem;
    box-shadow: 10px 10px 10px grey;
    position: relative;
    top: -12rem;
    left: 38rem; 
}