.secNos{
    display: flex;
    flex-direction: column;
    align-items: center;
    .secNos__div{
        display: flex;
        .img_nos {
            margin: 1rem;
            width: 30rem;
            border-radius: 2rem;
            box-shadow: 10px 10px 10px grey;
        }
        
    }
    #pnos{
        display: flex;
        flex-direction: column;
        color: #ff9900;
        font-size: 3em;
        text-align: justify;
        background-color: rgba(128, 128, 128, 0.652);
        border-radius: 2rem;
        padding: 2rem;
        margin: 2rem;
        box-shadow: 10px 10px 10px grey;
    }
    
    
    
    
}
/*media*/
@media only screen and (max-width: 769px){
    .main__nos{
        .main__nos-h1{
            font-size: 4em;
            margin-top: 2rem;
        }
        .secNos{
            display: flex;
            margin: 2rem;
            .secNos__div{
                    display: none;
                }
            }
            #pnos{
                flex-direction: column;
                font-size: 3em;
                text-align: left;
                .pNoso_2p{
                    margin: 1rem 0;
                }
                
            }
    }
}
@media only screen and (max-width: 550px){
    .main__nos{
        .main__nos-h1{
            font-size: 2.5em;
        }
        .secNos{
            display: block;
            .secNos__div{
                display: none;
            }
            #pnos{
                flex-direction: column;
                font-size: 3em;
                text-align: left;
                .pNos__2p{
                    margin: 1rem 0;
                }
                
            }
            
        }
    }
}